name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ThaiNX1/nxthai@293
      - uses: nxthai22@gmail.com/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "demo-tomeo-server"
          heroku_email: "nxthai22@gmail.com"
          usedocker: true
